<mat-toolbar color="primary">
    <span><img src="../../assets/img/logo.png" alt="logo"></span>

    <span>Produtos</span>
    <span class="example-spacer"></span>
    <span>Login</span>
    </mat-toolbar>

    <mat-toolbar color="primary">
        <span><a routerLink="inicio"><img src="../../assets/img/logo.png" alt="logo"></a></span>
        <span><a routerLink="inicio">Produtos</a></span>
        <span class="example-spacer"></span>
        <span><a routerLink="login">Login</a></span>





        </mat-toolbar>

                <nav>
            <a routerLink="/inicio">Início</a>
            <a routerLink="/login">Login</a>
          </nav>